<p-toast></p-toast>
<div
  class="min-h-[80vh] flex flex-col items-center justify-center bg-gray-50 p-4"
>
  <div class="w-full lg:w-1/3 bg-white p-8 rounded-xl shadow-lg">
    <h1 class="text-2xl font-bold mb-6 text-center capitalize">
      Create an Account
    </h1>

    <form
      [formGroup]="userData"
      action=""
      class="flex flex-col gap-4"
      (submit)="submit()"
    >
      <p-inputGroup>
        <p-inputGroupAddon>
          <i class="pi pi-user"></i>
        </p-inputGroupAddon>
        <input
          pInputText
          formControlName="FirstName"
          placeholder="First Name"
          class="w-full text-center text-lg border border-gray-300 p-2 rounded focus:outline-none focus:border-blue-500"
        />
      </p-inputGroup>

      <div class="validation-smg">
        @if (FirstName?.dirty && FirstName?.touched) {
          @if (FirstName?.getError("required")) {
            <div class="w-[95%] mx-auto mt-2">
              <p-message
                severity="error"
                text="Name is required"
                styleClass="w-full justify-center"
              ></p-message>
            </div>
          }
          @if (FirstName?.getError("minlength")) {
            <div class="w-[95%] mx-auto mt-2">
              <p-message
                severity="error"
                text="must be at least 3 char"
                styleClass="w-full justify-center"
              ></p-message>
            </div>
          }
          @if (FirstName?.getError("maxlength")) {
            <div class="w-[95%] mx-auto mt-2">
              <p-message
                severity="error"
                text="cannot exceed 30 char"
                styleClass="w-full justify-center"
              ></p-message>
            </div>
          }
        }
      </div>
      <p-inputGroup>
        <p-inputGroupAddon>
          <i class="pi pi-user"></i>
        </p-inputGroupAddon>
        <input
          pInputText
          formControlName="SecondName"
          placeholder="Second Name"
          class="w-full text-center text-lg border border-gray-300 p-2 rounded focus:outline-none focus:border-blue-500"
        />
      </p-inputGroup>
      <div class="validation-smg">
        @if (SecondName?.dirty && SecondName?.touched) {
          @if (SecondName?.getError("required")) {
            <div class="w-[95%] mx-auto mt-2">
              <p-message
                severity="error"
                text="Name is required"
                styleClass="w-full justify-center"
              ></p-message>
            </div>
          }
          @if (SecondName?.getError("minlength")) {
            <div class="w-[95%] mx-auto mt-2">
              <p-message
                severity="error"
                text="must be at least 3 char"
                styleClass="w-full justify-center"
              ></p-message>
            </div>
          }
          @if (SecondName?.getError("maxlength")) {
            <div class="w-[95%] mx-auto mt-2">
              <p-message
                severity="error"
                text="cannot exceed 30 char"
                styleClass="w-full justify-center"
              ></p-message>
            </div>
          }
        }
      </div>
      <div>
        <div class="card"></div>
      </div>
      <p-inputGroup>
        <p-inputGroupAddon>
          <i class="pi pi-envelope"></i>
        </p-inputGroupAddon>
        <input
          formControlName="email"
          pInputText
          placeholder="Email"
          class="w-full text-center text-lg border border-gray-300 p-2 rounded focus:outline-none focus:border-blue-500"
        />
      </p-inputGroup>

      <div class="validation-msg">
        @if (email?.touched && email?.dirty) {
          @if (email?.getError("required")) {
            <div class="w-[95%] mx-auto mt-2">
              <p-message
                severity="error"
                text="Email Is Required"
                styleClass="w-full justify-center"
              ></p-message>
            </div>
          }
          @if (email?.getError("email")) {
            <div class="w-[95%] mx-auto mt-2">
              <p-message
                severity="error"
                text="Email Not Valid"
                styleClass="w-full justify-center"
              ></p-message>
            </div>
          }
        }
      </div>

      <p-inputGroup>
        <p-inputGroupAddon>
          <i class="pi pi-key"></i>
        </p-inputGroupAddon>
        <p-password
          [toggleMask]="true"
          name="password"
          formControlName="password"
          placeholder="Password"
          styleClass="w-full"
          inputStyleClass="w-full text-center text-lg  border border-gray-300 p-2 rounded focus:outline-none focus:border-blue-500"
        >
          <ng-template pTemplate="header">
            <h6>Pick a password</h6>
          </ng-template>

          <ng-template pTemplate="footer">
            <p-divider />
            <p class="mt-2">Suggestions</p>
            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
              <li>At least one lowercase</li>
              <li>At least one uppercase</li>
              <li>At least one numeric</li>
              <li>Minimum 8 characters</li>
            </ul>
          </ng-template>
        </p-password>
      </p-inputGroup>
      <div class="validation-msg">
        @if (password?.dirty && password?.touched) {
          @if (password?.getError("required")) {
            <div class="w-[95%] mx-auto mt-2">
              <p-message
                severity="error"
                text="Password Is Required"
                styleClass="w-full justify-center"
              ></p-message>
            </div>
          }
          @if (password?.getError("minlength")) {
            <div class="w-[95%] mx-auto mt-2">
              <p-message
                severity="error"
                text="Must be at Least 8 char"
                styleClass="w-full justify-center"
              ></p-message>
            </div>
          }
          @if (password?.getError("maxlength")) {
            <div class="w-[95%] mx-auto mt-2">
              <p-message
                severity="error"
                text="cannot exceed 20 char"
                styleClass="w-full justify-center"
              ></p-message>
            </div>
          }
        }
        @if (password?.getError("pattern")) {
          <div class="w-[95%] mx-auto mt-2">
            <p-message
              severity="error"
              text="Password must contain at least one uppercase, lowercase, number, and special character"
              styleClass="w-full flex justify-start"
            ></p-message>
          </div>
        }
      </div>

      <button
        class="w-full bg-primary text-white font-bold py-2 rounded hover:bg-blue-700"
        type="submit"
      >
        Register
      </button>
      <h4>
        Already have account ?
        <a routerLink="/Login" class="font-bold text-blue-700 underline"
          >Log in</a
        >
      </h4>
    </form>
  </div>
  <ngx-spinner
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="#ff0000"
    type="triangle-skew-spin"
    [fullScreen]="true"
    ><p style="color: white">Loading...</p></ngx-spinner
  >
</div>
