@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.p-galleria-indicator button {
  background-color: #dee2e6 !important;
  width: 1rem !important;
  height: 1rem !important;
  border-radius: 50% !important;
  margin: 0.2rem !important;
  transition:
    background-color 0.2s,
    color 0.2s,
    box-shadow 0.2s;
}

.p-galleria-indicator.p-highlight button {
  background-color: #3b82f6 !important;
}

button.p-link {
  background: transparent;
  border: none;
}
